@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap');

#name-title{
  font-weight: bolder;
  font-size: 28px;
  width: 100%;
  background-color: #069BCC;
  color: #ffffff;
} 
#wrapper{
  display: grid;
  grid-template-rows: 
    [row1-start] "boyd body body" 70px [row-end]
    [row2-start] "body body body" 150px [row-end]
    [row3-start] "img img img" 70px [row-end]
    / auto 10% auto;
  width: 100%;
  opacity: 60%;
  color: rgb(0, 0, 0);
}

.section-headers{
  padding-left: 7%;
}
.assignments-nav{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

html{
  background-color: rgb(255, 255, 255);
}
h1{
  font-family: Montserrat;
}
h2{
  font-family: Montserrat, Arial,'sans-serif';
  font-weight: bolder;
}
article{
  font-family: 'Noto Sans', 'sans-serif';


}
p{
  font-family:'Noto Sans', 'sans-serif';
  font-size: 20px;
  width: 50%;
  padding:0% 0% 0% 10%;
  color: black;
}
a{
  display: block;
  text-align: center;
  padding-right: 20%;
  font-family: 'Noto Sans', 'sans-serif';
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}
ul{
  list-style-type: none;
  margin: 0%;
  padding-left: 10%;
}
li{
  background-color: #ffffff;
  width: 35%;
  border: #FFF23B solid 2px;
}
li :a{
  
  color: white;
  line-height: 15px;
  padding: 1em;
  margin-bottom: 1em;
  }
li:hover{
  background-color: rgb(139, 139, 139);
}
img{
  opacity: 100%;
}
