@import url('https://fonts.googleapis.com/css?family=Quantico|Roboto+Slab&display=swap');

nav{
    display: flex;
    background-color: #F4D35E;
    font-family: 'Quantico';
    line-height: 15%;
    position: sticky;
    width: 100%;
    margin: 0;
    top: 0;
    opacity: 1;
    z-index: 1;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}
  
/*dropdown menu wrapper*/
div.box{
    display: inline-block;
    position: relative;    
    height: 2.5em;
    width: 15em;
    text-align: center;
}
button{
    min-width: 15em;
    line-height: 55%;
    margin: 0;
    font-family: 'Quantico';
}
.dropbutton{
    background-color: #f4d35e;
    font-family: 'Quantico';
    border: none;
    cursor: pointer;
}
div.box:hover .dropbutton{
    background-color: #ffffff;
}
.dropdownmenu{
    display: none;
    position: absolute;
    background-color: #d8d8d8;
    width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(12, 12, 12, 0.192);
    z-index: 1;
}
.dropdownmenu a{
    text-decoration: none;
    color: #000000;
    display: block;
} 
.page-card{
position: relative;
height: 90%;
width: 75%;
margin:0 auto 0 auto;
background-color: #eeeeee;
box-shadow: 0px 14px 14px 8px rgba(0, 0, 0, 0.25);
}

#name-title{
    font-weight: bolder;
    font-size: 28px;
    width: 100%;
    background-color: #069BCC;
    color: #ffffff;
  } 
  #wrapper{
    display: grid;
    grid-template-rows: 
      [row1-start] "boyd body body" 70px [row-end]
      [row2-start] "body body body" 150px [row-end]
      [row3-start] "img img img" 70px [row-end]
      / auto 10% auto;
    width: 100%;
    opacity: 60%;
    color: rgb(0, 0, 0);
  }
  
  .section-headers{
    padding-left: 7%;
    text-decoration: underline;
    text-decoration-color: #069BCC;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #069BCC;
  }
  .assignments-nav{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
  }
  
  html{
      min-width: 800px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 4px 4px #3f3f3f;
  }

  h1{
    font-family: 'Quantico';
    font-weight: bold;
  }
  h2{
    font-family: 'Quantico';
    font-weight: bold;
  }
  article{
    font-family: 'Roboto-Slab', 'sans-serif';
  }
  p{
    font-family:"Roboto Slab", 'sans-serif';
    font-size: 20px;
    width: 70%;
    padding:0% 0% 0% 10%;
    color: black;
  }
  article{
    font-family:"Roboto Slab", 'sans-serif';
    font-size: 20px;
    width: 70%;
    margin-bottom: 1em;
    padding:0% 0% 0% 10%;
    color: black;
  }
  blockquote{
    font-family: "Roboto Slab", "sans serif";
    font-weight: bolder;
    width: 50%;
    padding-left: 10%;
    font-size: xx-large;
  }
  a{
    display: block;
    text-align: center;
    padding-right: 20%;
    font-family: 'Quantico', 'sans-serif';
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
  }
  ul{
    list-style-type: none;
    margin: 0%;
    padding-left: 10%;
  }
  li{
    background-color: #ffffff;
    width: 35%;
    border: #FFF23B solid 2px;
  }
  li :a{
    
    color: white;
    line-height: 15px;
    padding: 1em;
    margin-bottom: 1em;
    }
  li:hover{
    background-color: rgb(139, 139, 139);
  }
  img{
    margin-top: 1.5em;
    margin-left:auto;
    margin-right: auto;
    padding-left: 10%;
    padding-bottom: 1.5em;
    opacity: 70%;
    max-width: 70%;
  }
 
  /*

  code transplant below

  */

  .dropbtn {
    background-color: #179fda;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 15em;
    border: none;
    cursor: pointer;
  }
  .fakedropbtn{
    padding: 16px;
    font-size: 16px;
    width: 15em;
    font-weight: bold;
    font-size: larger;
    border: none;
    background-color: #f4d35e;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8d8d8;
    width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
  }