body{
  background-color: #3399CC;
  background-image: linear-gradient(to bottom, #3399CC, #C2E0F0, #3399CC);
  color: #666666;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

header{
  background-color: #000033;
  color: #FFFFFF; 
}

h1{
  line-height: 200%;
  background-image: url(images/sunset.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 72px;
  padding-left: 2em;
  margin-bottom: 0;
}

nav{
  float: left;
  width: 160px;
  font-weight: bold;
  padding: 0px;
}

nav a{
  text-decoration: none;
}
nav a:link{
  color: #FFFFFF;
}
nav a:visited{
  color: #C2E0F0;
}
nav a:hover{
  color: #CCCCCC;
}
nav ul{
  list-style-type: none;
  padding-left: 1em;
}
main{
  padding: 1px 2em 1px 2em;
  margin-left: 170px;
  background-color: #FFFFFF;
}

h2{
  color: #3399CC;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
  color: #000033;
}
dt{
  font-weight: bold;
  color: #000033;
}


footer{
  margin-left: 170px;
  background-color: #FFFFFF;
  font-size: .7em;
  font-weight: italic;
  text-align: center;
  padding: 1em;
}
/*UNIVERSAL SELECTOR*/
*{
  box-sizing: border-box;
}

.resort{
  color: #000033;
  font-size: 1.2em;
}
#wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color:#000033;
  min-width: 700px;
  max-width: 1024px;
  box-shadow: 3px 3px 3px #141414;
}

#homehero{
  height: 300px;
  margin-left: 170px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(images/coast.jpg);
}

#trailhero{
  height: 300px;
  margin-left: 170px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(images/trail.jpg);
}

#yurthero{
  height: 300px;
  margin-left: 170px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(images/yurt.jpg);
}

/* FOR older browser compatibility */
header, nav, main, footer{
  display: block;
}