/*
  Universal selectors are denoted with
  the '*' wildcard symbol.
*/

*{
  box-sizing: border-box;
}

/*FOR DESKTOP AND WIDER SCREENS*/

#wrapper{
  min-width: 1200px;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;

  background-color: #F5F5F5;
}
#mobile{ display: none;}
#desktop{ display: inline;}

.floatleft{
  float: left;
  margin-right: 4em;
}
.studio{
  font-style: italic;
  font-weight: bold;
  vertical-align: middle;
}
.clear{
  clear: both;
}

/*
  compatibility with older browsers...
*/
header, nav, main, footer{ display: block;}


body{
  background-color: #3F2860;
  color: #3F2869;
  font-family: Verdana, Arial;
  /*min-width: 1000px;
  max-width: 1280px;*/

}
main{
  padding: 1em 2em 0em 2em;
  display: block;
  margin-left: 170px;

}

header{
  background-color: #9BC1C2;
  background-position: right;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  background-image: url(images/lilyheader.jpg);
}
h1{
  padding: 50px 0em 0em 2em;
}
nav{
  float: left;
  width: 160px;
  font-weight: bold;
  padding: 1em;

}
nav a{
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold;
  border: 3px outset #CCCCCC;
  padding: 1em;
  margin-bottom: 1em;
}
nav ul{ 
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
}
nav a:link{ color: #3F2860;}
nav a:visited{ color: #497777;}
nav a:hover{ 
  color: #A26100; 
  border: 3px inset #333333;
}
dt{
  font-weight: bold;
}
footer{
  background-color: #9BC1C2;
  text-align: center;
  font-style: italic;
  padding: 1em;
}
/*Aligh h3 schedule titles with table */
h3{
  margin: 0 auto 0 auto;
}
/*BEGIN Table CSS */
caption{
  margin: 1em;
  font-weight: bold;
  font-size: 120%;
}
table{
  margin: 0 auto 1em auto;
  width: 60%;
  border: 1px solid #3f2860;
  border-collapse: collapse;
}
tr:first-child{
  text-align: center;
}
tr:nth-of-type(even){
  background-color: #9BC1C2;
}
th{
  font-weight: bold;
  padding: 5px;
  border: 1px solid #3f2860;
}
td{
  padding: 5px;
  border: 1px solid #3f2860;
}

/*chapter 9 modifications*/
label{
  display: block;
  float: left;
  padding: 1em;
  width: 10em;
  text-align: right;
  font-weight: bold;
}
input, textarea{
  display: block;
  margin-bottom: 2em;
}
form{
  padding: 3em;
}
audio{
  display: block;
  margin: 1em;
}
#mySubmit{
  margin-left: 12em;
}




    /*For avg tablet screens*/
    @media only screen and (max-width: 1024px){
      #wrapper{
        width: auto;
        min-width: 0;
        margin: 0;
        padding: 0;
      }
      body{
        margin: 0;
        padding: 0;
      }
      header{
        padding-top: 1px;
      }
      h1{
        padding-top: 1em;
      }
      nav{
        float: none;
        width: auto;
        padding-left: 2em;
      }
      nav a{
        padding: .2em;
        margin-left:.3em;
        float: left;
        width: 23%;
      }
      main{
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
        font-size: 90%;
        float: none;
      }
      main ul{
        margin-left: 2em;
      }
      #hero img{
        width: 100%;
        height: auto;
      }
      .floatleft{
        margin-left: 2em;
        margin-bottom: 1em;
      }
      .clear{
        padding-left: 2em;
      }
      h2{ padding: 0 2em 0 2em;}
      h3{ padding: 0 2em 0 2em;}
      dl{ padding: 0 2em 0 2em;}
      p{ padding: 0 2em 0 2em;}
      #mobile{ display: none;}
      #desktop{ display: inline;}
    }/*end tablet screen media query*/

/*Mini-tablet screen query*/
@media only all and (max-width: 768px){
  #mobile{ display: inline;}
  #desktop{ display: none;}
  #wrapper{
    width: auto;
    min-width: 0;
    margin: 0;
    padding: 0;
  }

  #hero{
    display: none;
  }
  .floatleft{
    float: none;
    display: none;
  }
  h1{
    font-size: 2em;
    padding-top: .25em;
    padding-left: 1.5em;
    width: 85%;
    text-align: center;
    align-content: center;
    vertical-align: center;
  }
  header{
    background-position: 100%;
    max-width: 100%;

  }
  nav a{
    padding: .5em;
    width: 45%;
    float: left;
    min-width: 6em;
    margin-left: .5em;
  }
  main{
    padding-top: 0;
    display: block;
  }
  footer{
    padding: .5em;
    margin: 0;
  }
  
}