body{
  background-color: #F5F5F5;
  color: #3F2869;
  font-family: Verdana, Arial;
}
header{
  text-align: center;
  background-color: #9BC1C2;
}
h1{
  line-height: 200%
}
nav{
  text-align: center;
  font-weight: bold;
}

nav a{
  text-decoration: none;
}

.studio{
  font-style: italic;
  font-weight: bold;
}
dt{
  font-weight: bold;
}
footer{
  background-color: #9BC1C2;
  font-size: .60 em;
  text-align: center;
  font-style: italic;
}

#wrapper{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}