body{
  background-color: #3F2860;
  color: #3F2869;
  font-family: Verdana, Arial;
  min-width: 1000px;
  max-width: 1280px;
}
#wrapper{
  min-width: 1200px;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F5F5F5;
}

main{
  padding: 1em 2em 0em 2em;
  display: block;
  margin-left: 170px;

}

header{
  text-align: left;
  background-color: #9BC1C2;
  background-position: right;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  background-image: url(images/lilyheader.jpg);
}
h1{
  padding: 50px 0em 0em 2em;
}
nav{
  float: left;
  width: 160px;
  font-weight: bold;
  padding: 1em;
}
nav a{
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold;
  border: 3px outset #CCCCCC;
  padding: 1em;
  margin-bottom: 1em;
}
nav ul{ 
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
}
nav a:link{ color: #3F2860;}
nav a:visited{ color: #497777;}
nav a:hover{ 
  color: #A26100; 
  border: 3px inset #333333;
}

/*
  Universal selectors are denoted with
  the '*' wildcard symbol.
*/

*{
  box-sizing: border-box;
}



.floatleft{
  float: left;
  margin-right: 4em;
}
.studio{
  font-style: italic;
  font-weight: bold;
  vertical-align: middle;
}
.clear{
  clear: both;
}
dt{
  font-weight: bold;
}
footer{
  background-color: #9BC1C2;
  font-size: .60 em;
  text-align: center;
  font-style: italic;
  padding: 1em;
}

/*
  compatibility with older browsers...
*/
header, nav, main, footer{ display: block;}