/*Mini-tablet screen query*/
@media only all and (max-width: 768px){
  h1{
    font-size: 2em;
    padding-top: .25em;
    padding-left: 1.5em;
    width: 85%;
    text-align: center;
    align-content: center;
    vertical-align: center;
  }
  header{
    background-position: 100%;
    align-content: left;
    max-width: 100%;

  }
  nav a{
    padding: .5em;
    width: 45%;
    float: left;
    min-width: 6em;
    margin-left: .5em;
  }
  main{
    padding-top: 0;
    display: block;
  }
  .floatleft{
    float: none;
    display: none;
  }
  #hero{
    display: none;
  }
  footer{
    padding: .5em;
    margin: 0;
  }
  #mobile{ display: inline;}
  #desktop{ display: none;}
}