@import url('https://fonts.googleapis.com/css?family=Karla|Pacifico&display=swap');

/* HTML element selector styling */
nav{
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
}
h1{
    font-family: Pacifico;
    font-size: 1.5em;
    font-weight: normal;
}
input{
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bolder;
}
a:hover{
    color: rgb(226, 75, 75);
}
dt a:hover{ color: rgb(226, 75, 75);}
dd a:hover{ color: rgb(226, 75, 75);}
dt{
    margin-top: 2em;
    font-weight: bolder;
    line-height: 150%;
    font-size: 1.25em;
}
dd{
    margin-top: .5em;
}
body{
    display: block;
}
figure{
    display: block;
    text-align: center;
}
figcaption{
    font-family: Karla;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    z-index: 0;
    /* just going to leave this wide open
    for more specific classes */
    font-family: Karla;
}
footer{
    font-family: Helvetica, Arial,  sans-serif;
    font-size: smaller;
    text-align: center;
    text-decoration: none;
    color: rgba(0,0,0,0.25);
    margin-top: 3em;
}

/* BEGIN CLASS DEFINITIONS */
.shoppingmain{
    display: inline-flex;
    justify-content:flex-start;
    flex-flow: row;
    width: 100%;
}
.categories{
    margin-left: 2em;
    padding-right: 3em;
    padding-left: 1em;
    width: 30%;
    border-right: 2px rgba(0,0,0,0.15) solid;
    font-family: Helvetica, Arial, sans-serif;
}
.searchbar{
    border-radius: 25px;
    width: 85%;
    color: #000000;
    background-color: #FCE5E5;
    margin-left: 8%; 
}
.products-area{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row
}
.products-item{
    flex: 1 0 21%;
    display: flex;
    flex-flow: column;/* to contain individual listing items*/
    max-width: 33%;
    max-height: 55%;
    margin: 2em 2em 0 2em;
}
.products-item img{
    max-width: 100%;
    height: 300px;
}
.products-item details{
    font-size: small;
}
.product-price{
    font-weight: bold;
}
.shoplinks{
    color: black;
    margin: 0 2.5em;    
}
.shoplinks a:hover{
    color: rgb(226, 75, 75);
}
.shoplinks a:visited{
    color: rgb(100, 59, 59);
}

/* For the landing splash page body, general content */

.hero-splash{
    margin-top: 3%;
}
.bag-area{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.bag-banner{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
    margin-top: 6em;
    width: 100;
}
.bag-banner button{
    border: 1px black solid;
    width: 30%;
    background-color: #FAAFAF;
    margin-top: 2em;
    vertical-align: middle;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bag-banner h1{
    vertical-align: middle;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    padding: .5em 3em;
    border: 2px black solid;
}
.checkout-button{
    height: 60px;
}
.checkout-button a{ display: block;}
/* BEGIN ID DEFINITIONS */
/*nav-bar-container--static position*/
#nav-banner{
    display: inline-block;
    flex-direction: column;
    position: fixed;
    background-color: #FCE5E5; 
    width: 100%;
    line-height: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    border-bottom: 2px black solid;
}
/* forcing bag to be on top of everything */
#bag{
    position: relative;
    float: right;
    right: 0;
    top: 0;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    z-index: 1;
}
#nav-banner h1{
    text-align: center;
}
/*current measure to enforce search bar styling*/
input[type=text]{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
}
/*Flexibile links row bar under search*/
#links-banner{
    display: inline-flex;
    position: fixed;
    justify-content: center;
    padding-top: .5em;
    height: 5%;
    width: 100%;
    top: 6.1em;
    left: 0px;
    z-index: 0;
    vertical-align: baseline;
    text-decoration: none;
    background-color: #FFF7F7;
    color: black;
    font-family: Karla;
    /* specifying scrollbar fx */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}
