@import url('https://fonts.googleapis.com/css?family=Karla|Pacifico&display=swap');

/* HTML element selector styling */
nav{
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
}
h1{
    font-family: Pacifico;
    font-size: 1.5em;
    font-weight: normal;
}
input{
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bolder;
}
body{
    display: block;
}
figure{
    display: block;
    text-align: center;
}
figcaption{
    font-family: Karla;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    z-index: 0;
    /* just going to leave this wide open
    for more specific classes */
}
.shoppingmain{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
.searchbar{
    border-radius: 25px;
    width: 85%;
    color: #000000;
    background-color: #FCE5E5;
    margin-left: 8%; 
}
.shoplinks{
    color: black;
    margin: 0 2.5em;    
}
.shoplinks a:hover{
    color: rgb(226, 75, 75);

}
.shoplinks a:visited{
    color: rgb(100, 59, 59);
}

/* For the landing splash page body, general content */

.hero-splash{
    margin-top: 3%;
}
/*nav-bar-container--static position*/
#nav-banner{
    display: inline-block;
    flex-direction: column;
    position: fixed;
    background-color: #FCE5E5; 
    width: 100%;
    line-height: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    border-bottom: 2px black solid;
}
/* forcing bag to be on top of everything */
#bag{
    position: relative;
    float: right;
    right: 0;
    top: 0;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    z-index: 1;
}
#nav-banner h1{
    text-align: center;
}
/*current measure to enforce search bar styling*/
input[type=text]{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
}
/*Flexibile links row bar under search*/
#links-banner{
    display: inline-flex;
    position: fixed;
    justify-content: center;
    padding-top: .5em;
    height: 5%;
    width: 100%;
    top: 6.1em;
    left: 0px;
    z-index: 0;
    vertical-align: baseline;
    text-decoration: none;
    background-color: #FFF7F7;
    color: black;
    font-family: Karla;
    /* specifying scrollbar fx */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}
